<!--auth/profile.html-->
<h1>내 프로필</h1>
{% if user.profile_image %}
    <img src="{{ url_for('static', filename='profile/' ~ user.profile_image) }}" alt="프로필 이미지" style="width:150px; height:150px; border-radius:50%;"><br>
{% else %}
    <img src="{{ url_for('static', filename='default/default.png') }}" alt="프로필 이미지" style="width:150px; height:150px; border-radius:50%;"><br>
{% endif %}
<p>아이디: {{ user.username }}</p>
<p>성명: {{ user.realname }}</p>
<p>회사: {{ user.company }}</p>
<p>이메일: {{ user.email }}</p>
<a href="{{ url_for('auth.edit_profile') }}">[프로필 수정]</a>
<a href="{{ url_for('auth.change_pw') }}">[비밀번호 변경]</a>
<a href="{{ url_for('board.board_list') }}">[게시판으로]</a>